<!DOCTYPE html>
<html>
	<head>
		
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    	<meta charset="utf-8">
    		<title>Home Page</title>
		<link rel="stylesheet" href="/styles.css">
		<!--http://t4t5.github.io/sweetalert/
		<script src="/home/Tyler/Documents/Senior_project/Hidden_gem/node_modules/sweetalert/dist/sweetalert.min.js"></script>
		<link rel="stylesheet" type="text/css" href="/home/Tyler/Documents/Senior_project/Hidden_gem/node_modules/sweetalert/dist/sweetalert.css">
		-->
		<script src="/index.js"></script>
    
    	<style>
			html, body, #map-canvas {
	    		height: 97%;
	    		margin: 0px;
	    		padding: 0px;
	    		top: 50px;
	  		}
	  		#toolbar {
	  			position: absolute;
	  			top: 0px;
	  			left: 0px;
	  			width: 100%;
	  			color: #fff;
		  	}
    	</style>

  </head>

  <body>
  	<div id="map-canvas"></div>
  	<div id="toolbar">
		<div id='menu'>
			<ul>
			   <li class='active'><a href='#'>Home</a></li>
			   <li><a onclick="addGemLoc()">New</a></li>
			   <li><a onclick="removeGemLoc()">Remove</a></li>
			   <li><a onclick='findGem()'>Find</a></li>
			   <li><a href='account'>Account</a></li>
			   <li><a href='settings'>Settings</a></li>
			   <li><a href='/logout'>Log Out</a></li>
			</ul>
		</div>
	</div>
  </body>

  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
  <script src="markers.js"></script>
  <script src="map.js"></script>
  		
</html>