<!DOCTYPE html>
<html>
<head>
	<title>Settings profile</title>
	<link rel="stylesheet" href="/styles.css">
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/js/materialize.min.js"></script>
	<link class="jsbin" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
	<script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
	<script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script>

</head>
<body>

<style>
	#toolbar {
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		color: #fff;
  	}
</style>
<style>
  article, 
  aside, 
  figure, 
  footer, 
  header, 
  hgroup, 
  menu, 
  nav, 
  section { 
  	display: block; 
  }
</style>

<div id="toolbar">
	<div id='menu'>
		<ul>
		   <li class='active'><a href='home'>Home</a></li>
		   <li><a href='account'>Accounts</a></li>
		   <li><a href='/logout'>Log Out</a></li>
		</ul>
	</div>
</div>

<div id="upload">
	<input type='file' onchange="readURL(this);" />
	<img id="blah" src="#" alt="your image" />
</div>

<script type="text/javascript">
	function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#blah')
                    .attr('src', e.target.result)
                    .width(230)
                    .height(230);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }
</script>
</body>
</html>