<!DOCTYPE html>
<html>
<head>
	<title>Welcome to Hidden Gem</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/styles.css">
	<!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
	<script src="//www.parsecdn.com/js/parse-1.4.2.min.js"></script>
</head>
<body>	

<div class="Header">
	<div class="Header-top">
		<div class="Login-container">
			<div class="greeting">
				Welcome To Hidden Gem
			</div>
			<form class='form-signin' action='/login' method="POST">
				<input type="text" name="username" id="Email-Username" placeholder="Username">
				<input type="password" name="password" id="password" placeholder="Password">
				<input type="submit" id="btn_login" value="Log In">
			</form>
			<div class="quote">
				Explore secret get-aways from other Gem hunters!
			</div>
		</div>
	</div>
</div>
<div class="main-body">
	<div class="signup">
		<div class="signup-title">
			<p id="p1">Sign Up</p>
			<p id="p2"> Free to join & takes a just couple of minutes</p>
		</div>
		<form class="form-signin" action='/signup' method="POST">
			<input type="text" name="username" id="username" placeholder="Username" required>
			<br>
			<input type="password" name="password" id="spassword" placeholder="Password" required>
			<br>
			<input type="text" name="email" id="email" placeholder="Email" required>
			<br>
			<input type="text" name="firstName" id="firstname" placeholder="First name" required autofocus>
			<br>
			<input type="text" name="lastName" id="lastname" placeholder="Last name" required>
			<br>
			<input type="submit" id="btn_signup" value="Sign Up">
		</form>
	</div>
	<div id="slideShowImages">
		<img src="/slideshow/slideshow_1.jpg" width="640px" height="480px">
		<img src="/slideshow/slideshow_2.jpg" width="640px" height="480px">
		<img src="/slideshow/slideshow_3.jpg" width="640px" height="480px">
	</div>
</div>

<script src="slideshow.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript">
	var socket = io();
	var client = document.getElementById('Email-Username').value;
	
	socket.emit('client connected', client);

	socket.on ("current clients", function (clients){
      console.log('[*] Clients: ', clients)
    });
</script>
</body>
</html>